body {
  margin: 2rem;
}

img {
  max-width: 100%;
  border-radius: .5rem;
}

a {
  text-decoration: none;
  color: #000
}

h1 {
  font-size: 1.4rem;
}

.animeLeft{
  opacity: 0;
  transform: translateX(-20px);
  animation: .animeLeft .3s forwards
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
